 @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



 * {
     font-family: 'Poppins', sans-serif;
     margin: 0;
     padding: 0;

 }

 body {
     background-color: black;
 }

 .main {
     background-image: url("/assests/images/bg.jpg");
     height: 100vh;
     position: relative;
     background-position: center center;
     background-repeat: no-repeat;
     background-size: max(1400px, 100vw);
 }

 .main .box {
     height: 100vh;
     width: 100%;
     opacity: 0.64;
     position: absolute;
     top: 0;
     background-color: black;
 }

 nav {
     max-width: 130vh;
     margin: auto;
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 100px;
 }

 nav img {
     width: 120px;
     position: relative; 
     z-index: 10;
 }
 .transparent{
    background-color: transparent;
 }

 nav div {
     position: relative;
     z-index: 10;
 }



 .hero {
     font-family: 'Poppins', sans-serif;
     height: calc(100% - 100px);
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
     flex-direction: column;
     position: relative;
     gap: 23px;
     padding: 0 30px;
 }

 .hero> :nth-child(1) {
     font-size: 3rem;
     font-weight: 900;
     text-align: center;

 }

 .hero> :nth-child(2) {
     font-size: 1.5rem;
     font-weight: 400;
     text-align: center;
 }

 .hero>:nth-child(3) {
     font-size: 1.25rem;
     font-weight: 400;
     line-height: 1.5;
     text-align: center;
 }

 .seperation {
     height: 0.5rem;
     background-color: rgb(35, 35, 35);
 }

 .button-nav {
     display: flex;
     gap: 10px;
 }

 .btn {
     padding: 3px 8px;
     font-weight: 500;
     border: none;
     border-radius: 5px;
     background: rgba(22, 22, 22, 0.7);
     color: white;
     border: 1px solid rgba(128, 128, 128, 0.7);
     cursor: pointer;
 }

 .btn-red-sm {
     background-color: red;
     color: white;
     border: 1px solid red;
 }

 .btn-red {
     background-color: red;
     color: white;
     padding: 7px 24px;
     font-size: 20px;
     border-radius: 5px;
     border: 1px solid red;

 }

 .main input {
     background-color: white;
     background: rgba(22, 22, 22, 0.7);
     padding: 7px 101px 8px 14px;
     font-size: 20px;
     color: white;
     border-radius: 5px;
     border: 1px solid rgba(128, 128, 128, 0.7);
 }

 .hero-button {
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 16px;
 }

 section {
     padding: 100px 0 100px 0;
     min-height: fit-content;
 }

 .secFirst {
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 80vw;
     margin: auto;
 }


 .secImage {
     position: relative;
 }

 .secImage img {
     width: 555px;
     position: relative;
     z-index: 10;
 }

 .secImage video {
     position: absolute;
     top: 52px;
     right: 0;
     width: 555px;
 }

 .secFirst .text .fline {
     font-size: 48px;
     font-weight: 900;
 }

 .secFirst .text .secline {
     font-size: 24px;
     font-weight: 400;
 }

 /* Section second */
 .secSecond {
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 80vw;
     margin: auto;

 }

 .secImage {
     position: relative;
 }

 .secImage img {
     width: 555px;
     position: relative;
     z-index: 10;
 }

 .secSecond .text .fline {
     font-size: 48px;
     font-weight: 900;
 }

 .secSecond .text .secline {
     font-size: 24px;
     font-weight: 400;
 }

 /* end */
 /* Third Section */
 .secThird {
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 80vw;
     margin: auto;
 }

 .secImage-third {
     position: relative;
 }

 .secImage-third img {
     width: 555px;
     position: relative;
     z-index: 10;
 }

 .third-video {
     position: absolute;
     top: 52px;
     right: 110px;
     width: 338px;
 }

 .secThird .text .fline {
     font-size: 48px;
     font-weight: 900;
 }

 .secThird .text .secline {
     font-size: 24px;
     font-weight: 400;
 }

 /* End */
 /* Fourth section */
 .secFourth {
     color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 80vw;
     margin: auto;

 }

 .secImage {
     position: relative;
 }

 .secImage img {
     width: 555px;
     position: relative;
     z-index: 10;
 }

 .secFourth .text .fline {
     font-size: 48px;
     font-weight: 900;
 }

 .secFourth .text .secline {
     font-size: 24px;
     font-weight: 400;
 }

 /* end */
 /* Fifth Section */

 .secFifth h1 {
     color: white;
     font-size: 48px;
     text-align: center;
     margin-bottom: 2rem;
 }

 .secFifth .faqbox {
     display: flex;
     background-color: rgb(45, 45, 45);
     padding: 20px;
     max-width: 80vw;
     margin: auto;
     color: white;
     row-gap: 5px;
     margin-bottom: 0.5rem;
 }

 .secFifth h3 {
     margin-top: 2.8rem;
     text-align: center;
     color: white;
     font-weight: 400;
     font-size: 20px;
     margin-bottom: 1rem;
 }

 .secFifth input {
     background-color: white;
     background: rgba(22, 22, 22, 0.7);
     padding: 7px 101px 8px 14px;
     font-size: 20px;
     color: white;
     border-radius: 5px;
     border: 1px solid rgba(128, 128, 128, 0.7);
 }

 footer {
     color: white;
     margin: auto;
     max-width: 60vw;
 }

 .footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     color: gray;

 }

 .footer a {
     color: gray;
 }

 footer .question {
     margin-bottom: 1rem;
 }

 .footer-item {
     display: flex;
     flex-direction: column;
     color: gray;
     text-decoration: none;
     font-size: 14px;
     font-weight: 400;
 }

 .btn-large {
     padding: 3px 40px 3px 0px;
     font-weight: 500;
     border: none;
     border-radius: 5px;
     background: rgba(22, 22, 22, 0.7);
     color: white;
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
     border: 1px solid rgba(128, 128, 128, 0.7);
     cursor: pointer;
 }

 footer span{
    margin-top: 1.5rem;
    font-weight: 400;
    font-size: 14px;
    color: gray;
 }

 @media screen and (max-width:900px) {
     nav {
         max-width: 90vw;
     }

     .secFirst {
         flex-wrap: wrap;
     }

     .secSecond {
         flex-wrap: wrap;
     }

     .secThird {
         flex-wrap: wrap;
     }

     .secFourth {
         flex-wrap: wrap;
     }

     .secFifth {
         flex-wrap: wrap;
     }

     .secImage img {
         width: 305px;
     }

     .secImage video {
         width: 305px;
     }

     .hero> :nth-child(1) {
         font-size: 32px;

     }

     .hero> :nth-child(2) {
         font-size: 18px;

     }

     .hero> :nth-child(3) {
         font-size: 18px;

     }

     .hero-button {
         display: flex;
         flex-direction: column;

     }

     .footer {
         display: grid;
         grid-template-columns: 1fr 1fr;
         gap: 25px
     }
 }